<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Enter search string" #search>
  </div>
  <button type="button" class="btn btn-primary" (click)="onSearch(search.value)">
    Search n
  </button>
</form>

<hr />

<div class="text-center">
  @if (loading) {
    <p class="lead">Loading...</p>
  }
</div>

<div class="list-group">
  @for (track of results; track track) {
    <a [routerLink]="['/artist', track.artistId]" class="list-group-item list-group-item-action">
      <img src="{{track.thumbnail}}"> {{ track.name }}
      <span class="text-muted">by</span> {{ track.artist }}
    </a>
  }
</div>